# Python cache dan build
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
build/
dist/

# Environment & Secrets
.env
*.env
venv/
ENV/
env/
.venv/

# VS Code & IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Log files
*.log

# Local uploads (kalau simulasi lokal)
uploads/